@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet/CabinetGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/cabinet/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/cabinet/CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Cabinet Grotesk", sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}
